In [38]:
import pandas as pd
from sqlalchemy import create_engine

In [39]:
df1=pd.read_csv('museo_tratado.csv')
df2= pd.read_csv('cine_tratado.csv')
df3= pd.read_csv('biblioteca_tratado.csv')
engine= create_engine('postgresql://postgres:123456@localhost/proyecto_alkemy')

In [40]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   2017 non-null   int64
 1   IdProvincia     2017 non-null   int64
 2   IdDepartamento  2017 non-null   int64
 3   Categoría       2017 non-null   object
 4   Provincia       2017 non-null   object
 5   Localidad       2017 non-null   object
 6   Nombre          2017 non-null   object
 7   Domicilio       2017 non-null   object
 8   Codigo_postal   2017 non-null   object
 9   Teléfono        2017 non-null   object
 10  Mail            2017 non-null   object
 11  Web             0 non-null      float64
dtypes: float64(1), int64(3), object(8)
memory usage: 189.2+ KB

In [41]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   329 non-null    int64
 1   IdProvincia     329 non-null    int64
 2   IdDepartamento  329 non-null    int64
 3   Categoría       329 non-null    object
 4   Provincia       329 non-null    object
 5   Localidad       329 non-null    object
 6   Nombre          329 non-null    object
 7   Dirección       329 non-null    object
 8   Codigo_postal   329 non-null    int64
 9   Teléfono        329 non-null    object
 10  Mail            329 non-null    object
 11  Web             329 non-null    object
dtypes: int64(4), object(8)
memory usage: 31.0+ KB

In [42]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   2017 non-null   int64
 1   IdProvincia     2017 non-null   int64
 2   IdDepartamento  2017 non-null   int64
 3   Categoría       2017 non-null   object
 4   Provincia       2017 non-null   object
 5   Localidad       2017 non-null   object
 6   Nombre          2017 non-null   object
 7   Domicilio       2017 non-null   object
 8   Codigo_postal   2017 non-null   object
 9   Teléfono        2017 non-null   object
 10  Mail            2017 non-null   object
 11  Web             0 non-null      float64
dtypes: float64(1), int64(3), object(8)
memory usage: 189.2+ KB

In [43]:
df2['Codigo_postal'] = df2['Codigo_postal'].astype('object') #convertir a tipo object debido a que nuestros otros archivos trabajar con este tipo
df3['Web'] = df3['Web'].astype('object') #convertir a tipo object debido a que nuestros otros archivos trabajar con este 
df2 = df2.rename(columns={'Dirección':'Domicilio'})

In [44]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   1182 non-null   int64
 1   IdProvincia     1182 non-null   int64
 2   IdDepartamento  1182 non-null   int64
 3   Categoría       1182 non-null   object
 4   Provincia       1182 non-null   object
 5   Localidad       1182 non-null   object
 6   Nombre          1182 non-null   object
 7   Domicilio       1164 non-null   object
 8   Codigo_postal   1116 non-null   object
 9   Teléfono        988 non-null    object
 10  Mail            286 non-null    object
 11  Web             80 non-null     object
dtypes: int64(3), object(9)
memory usage: 110.9+ KB

In [45]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   329 non-null    int64
 1   IdProvincia     329 non-null    int64
 2   IdDepartamento  329 non-null    int64
 3   Categoría       329 non-null    object
 4   Provincia       329 non-null    object
 5   Localidad       329 non-null    object
 6   Nombre          329 non-null    object
 7   Domicilio       329 non-null    object
 8   Codigo_postal   329 non-null    object
 9   Teléfono        329 non-null    object
 10  Mail            329 non-null    object
 11  Web             329 non-null    object
dtypes: int64(3), object(9)
memory usage: 31.0+ KB

In [46]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   2017 non-null   int64
 1   IdProvincia     2017 non-null   int64
 2   IdDepartamento  2017 non-null   int64
 3   Categoría       2017 non-null   object
 4   Provincia       2017 non-null   object
 5   Localidad       2017 non-null   object
 6   Nombre          2017 non-null   object
 7   Domicilio       2017 non-null   object
 8   Codigo_postal   2017 non-null   object
 9   Teléfono        2017 non-null   object
 10  Mail            2017 non-null   object
 11  Web             0 non-null      object
dtypes: int64(3), object(9)
memory usage: 189.2+ KB

In [47]:
fusion = [df1, df2,df3]
archivo_final = pd.concat(fusion)

In [48]:
archivo_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3528 entries, 0 to 2016
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   3528 non-null   int64
 1   IdProvincia     3528 non-null   int64
 2   IdDepartamento  3528 non-null   int64
 3   Categoría       3528 non-null   object
 4   Provincia       3528 non-null   object
 5   Localidad       3528 non-null   object
 6   Nombre          3528 non-null   object
 7   Domicilio       3510 non-null   object
 8   Codigo_postal   3462 non-null   object
 9   Teléfono        3334 non-null   object
 10  Mail            2632 non-null   object
 11  Web             409 non-null    object
dtypes: int64(3), object(9)
memory usage: 358.3+ KB

In [ ]:
archivo_final.to_sql("proyecto_alkemy", con=engine, if_exists="replace")
engine.execute("SELECT * FROM proyecto_alkemy").fetchall()